.form-container {
  background: url("../assets/images/bg-shorten-desktop.svg"), hsl(257, 27%, 26%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  border-radius: 20px;
  padding: 70px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: absolute;
  top: -5%;
  width: 90%;
}

.form-container form {
  width: 100%;
  position: relative;
  padding: 20px 0;
}
.form-container form input {
  width: 80%;
  margin-right: 1%;
  border: 0;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
}

.form-container form input:focus {
  outline: none;
}

.form-container form button {
  width: 19%;
  border: 0;
  background-color: hsl(180, 66%, 49%);
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 0 5px;
  cursor: pointer;
}

.form-container form input.error {
  border: 2px solid hsl(0, 87%, 67%);
}

.form-container form span {
  position: absolute;
  font-size: 11px;
  color: hsl(0, 87%, 67%);
  opacity: 0;
  top: 80%;
  transition: opacity 0.5s ease-in;
  line-height: 1.2;
}
.form-container form span.error {
  opacity: 1;
}

@media (max-width: 1300px) {
  .form-container {
    top: -3.5%;
    height: 170px;
  }
}
@media (max-width: 730px) {
  .form-container form button {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .form-container form input {
    width: 100%;
  }
  .form-container form button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .form-container form span {
    top: 43%;
  }
  .form-container form button {
    font-size: 18px;
  }
}
